<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <div id="site_wrap">
    <div class="header"> 
        <img src="/assets/images/durch-logo.png" class="logo" alt="logo">

        <ul class="nav">
            <li><a class="active" href="#">Buy</a></li>
            <li><a href="#">Sell</a></li>
            <li><a href="#">Swap</a></li>
        </ul>
        <ul class="nav1">
            <li><a href="#">Home</a></li>
        </ul>
    </div>
    <div class="featured_content">
        <h1>Buy Crypto with Credit Debit Card</h1>
        <p>Crypto purchase made fast, simple and easy</p>
    </div>
    <div class="buy_widget">
        
        <div class="container">
            <form action="" method="POST" class="form">

                <div class="form-group">
                    <label for="fiat" class="form-label">You Pay</label>
                    <input type="number" class="form-control" id="Buy" name="fiat" 
                    placeholder="Enter Amount" tabindex="1" required>
                    <select>
                        <option value="currency">USD</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="crypto" class="form-label">You Receive</label>
                    <input type="number" class="form-control" id="Buy" name="crypto" 
                    placeholder="0.01242" tabindex="2" required>
                    <select>
                        <option value="currency">BTC</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn">Buy Now</button>
                </div>
            </form>
        </div>

    </div>
        </div>
    <script>
        const select = document.querySelectorAll('select');
        const input = document.querySelectorAll('input');
        const API_URL ="https://api.sendwyre.com/v3/rates";
        let html='';

        async function currency(){
            const res = await fetch(API_URL);
            const data = await res.json();
            console.log(data.rates)
            const arrKeys = Object.keys(data.rates);
            console.log(arrKeys)
            arrKeys.map(item =>{
                return html += `<option value=${item}>${item}</option>`;
            })
        };
        currency();
    </script>
</body>
</html>